<h1>Por Pais</h1>
<hr>

<div class="row">
  <div class="col">
    <app-pais-input
    (onEnter)="buscar($event)"
    (onDebounce)="sugerencias($event)"
    play="Buscar Pais....."
    ></app-pais-input>
  </div>
  <ul *ngIf="mostrar" >
    <li
    (click)="buscar(termino)" 
    class="list-group-item list-group-item-action">
      <a class="nav-link">
        Buscar "{{termino}}"
      </a>
    </li>

    <li *ngFor="let item of sugeridos" class="list-group-item list-group-item-action">
      <a class="nav-link" [routerLink]="['pais',item.fifa]">
        {{item.name.common}}
      </a>
      
    </li>
  </ul>
</div>

<hr>
<div class="col">
  <app-pis-table [paises]="paises" ></app-pis-table>
</div>

<div class="alert alert-danger" *ngIf="error">
  ERROR
</div>
